# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environment
.venv/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Node / Frontend
node_modules/
.vite/

# OS
.DS_Store
Thumbs.db

# LLM
CLAUDE.md
.claude/
.github/

# etc
example/
ssl_certs/
*.pem
*.crt
*.key
*.conf
webapp-content/
ssl_certs/
log.txt
nginx-config/

*.yml
*.bin
*.sqlite3

myenv/
myvenv/
mvenv/
venv/
bomin/